<a href="https://colab.research.google.com/github/balasri03/Chi-Square-Test-T--test-F-test-Anova-/blob/main/T_test%2CF_test(Anova).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Chi-Square Test**

In [ ]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
data_set=sns.load_dataset('tips')
print(data_set.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
dataset_table=pd.crosstab(data_set['sex'],data_set['smoker'])
print(dataset_table)

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [ ]:
observe_values=dataset_table.values
print(observe_values)

[[60 97]
 [33 54]]

In [ ]:
value=stats.chi2_contingency(dataset_table)
print(value)

Chi2ContingencyResult(statistic=np.float64(0.0), pvalue=np.float64(1.0), dof=1, expected_freq=array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]]))

In [ ]:
expected_value=value[3]

In [ ]:
no_rows=len(dataset_table.iloc[0:2,0])
no_columns=len(dataset_table.iloc[0,0:2])
dof=(no_rows-1)*(no_columns-1)
print(dof)
alpha=00.5

1

In [ ]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(observe_values,expected_value)])
print(chi_square)

[0.00119737 0.00073745]

In [ ]:
chi_square_stats=chi_square[0]+chi_square[1]
print(chi_square_stats)

0.001934818536627623

In [ ]:
alpha=0.05
critical_value=chi2.ppf(q=1-alpha,df=dof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [ ]:
p_value=1-chi2.cdf(x=chi_square_stats,df=dof)
print("p_value",p_value)
print("sgnificant value",alpha)
print("dof",dof)

p_value 0.964915107315732
sgnificant value 0.05
dof 1

In [ ]:
if chi_square_stats>=critical_value:
  print("regect H0 , their is relation b/w two catagorical variables")
else:
  print("accept H0,There is no relationship between 2 categorical variables")
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("accept H0,There is no relationship between 2 categorical variables")

accept H0,There is no relationship between 2 categorical variables
accept H0,There is no relationship between 2 categorical variables

# **One sample T-test**

In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math
np.random.seed(6)
school_age=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_age=stats.poisson.rvs(loc=18,mu=30,size=60)
print(classA_age.mean())

46.9

In [ ]:
p_value=stats.ttest_1samp(a=classA_age,popmean=school_age.mean())
print(p_value)
print(p_value[1])

TtestResult(statistic=np.float64(-9.604796510704091), pvalue=np.float64(1.139027071016194e-13), df=np.int64(59))
1.139027071016194e-13

In [ ]:
if p_value[1]<0.05:
  print("we reject null hypothesis")
else:
  print("we accept null hypothesis")

we reject null hypothesis

# **Two sample t-test**

In [ ]:
np.random.seed(10)
classB_age=stats.poisson.rvs(loc=18,mu=33,size=100)
print(classB_age.mean())

50.34

In [ ]:
p_value=stats.ttest_ind(a=classA_age,b=classB_age,equal_var=False)
print(p_value[1])

8.88410425537225e-05

In [ ]:
if p_value[1] < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# **Paired T-test**

In [ ]:
import scipy.stats as stats
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)
print(weight1)
print(weight2)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]
[24.97029643 33.61601165 25.62808293 40.04304552 28.38129464 31.59775264
 30.00428241 25.90239124 25.66734331 29.46356599 30.36671193 40.277408
 27.13972462 25.34259224 43.9812259 ]

In [ ]:

_,p_value=stats.ttest_rel(a=weight1,b=weight2)
print(p_value)

0.7289461407386044

In [ ]:
if p_value < 0.05:
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis

# **F Test -Anova**

In [ ]:
import seaborn as sns
df1=sns.load_dataset('iris')
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
import pandas as pd
df_anova = df1[['petal_width','species']]
grps = pd.unique(df_anova.species.values)
print(grps)

['setosa' 'versicolor' 'virginica']

In [ ]:
d_data = {grp:df_anova['petal_width'][df_anova.species == grp] for grp in grps}
print(d_data)

{'setosa': 0     0.2
1     0.2
2     0.2
3     0.2
4     0.2
5     0.4
6     0.3
7     0.2
8     0.2
9     0.1
10    0.2
11    0.2
12    0.1
13    0.1
14    0.2
15    0.4
16    0.4
17    0.3
18    0.3
19    0.3
20    0.2
21    0.4
22    0.2
23    0.5
24    0.2
25    0.2
26    0.4
27    0.2
28    0.2
29    0.2
30    0.2
31    0.4
32    0.1
33    0.2
34    0.2
35    0.2
36    0.2
37    0.1
38    0.2
39    0.2
40    0.3
41    0.3
42    0.2
43    0.6
44    0.4
45    0.3
46    0.2
47    0.2
48    0.2
49    0.2
Name: petal_width, dtype: float64, 'versicolor': 50    1.4
51    1.5
52    1.5
53    1.3
54    1.5
55    1.3
56    1.6
57    1.0
58    1.3
59    1.4
60    1.0
61    1.5
62    1.0
63    1.4
64    1.3
65    1.4
66    1.5
67    1.0
68    1.5
69    1.1
70    1.8
71    1.3
72    1.5
73    1.2
74    1.3
75    1.4
76    1.4
77    1.7
78    1.5
79    1.0
80    1.1
81    1.0
82    1.2
83    1.6
84    1.5
85    1.6
86    1.5
87    1.3
88    1.3
89    1.3
90    1.2
91    1.4
92    1.2
93    1.0
94    1.3
95    1.2
96    1.3
97    1.3
98    1.1
99    1.3
Name: petal_width, dtype: float64, 'virginica': 100    2.5
101    1.9
102    2.1
103    1.8
104    2.2
105    2.1
106    1.7
107    1.8
108    1.8
109    2.5
110    2.0
111    1.9
112    2.1
113    2.0
114    2.4
115    2.3
116    1.8
117    2.2
118    2.3
119    1.5
120    2.3
121    2.0
122    2.0
123    1.8
124    2.1
125    1.8
126    1.8
127    1.8
128    2.1
129    1.6
130    1.9
131    2.0
132    2.2
133    1.5
134    1.4
135    2.3
136    2.4
137    1.8
138    1.8
139    2.1
140    2.4
141    2.3
142    1.9
143    2.3
144    2.5
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: petal_width, dtype: float64}

In [ ]:
F, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])
print(p)

4.169445839443116e-85

In [ ]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

reject null hypothesis